[Unit]
Description=CS411 application
After=network.target

[Service]
ExecStart=/home/laborant/main
Restart=on-failure

[Install]
WantedBy=multi-user.target