[Unit]
Description=CS411 application
After=network.target

[Service]
User=myapp
Group=myapp
ExecStart=/opt/myapp/main
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
